<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon.png')}}">
    <!-- favicon.ico파일을 현재 html이 있는 파일 경로에 다운받고
                              href="/favicon.ico?1"로 되어있는데 ./favicon으로 바꾸어 준다.
                              .은 현재 폴더라는 뜻이다.  -->
                              
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">

    <!--글씨체-->
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <!-- 오늘의 취업 -->
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=MuseoModerno&display=swap" rel="stylesheet">
    <!-- 메인로고 글씨 -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='header.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='section_page1.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='section_page2.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='loadingbar.css')}}">
    <!-- Bootstrap CSS -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- <script>
        // const loadingbar_news = document.querySelector('#loadingbar_news')
        $(document).ready(function () {
            news_readey();
            console.log('준비완료')
        });
        function news_readey() {
            $('#recruit_news').empty()
            $.ajax({
                type: "GET",
                url: "/api/news",
                data: {},
                success: function (response) {
                    let news_card = response['news_card'];
                    for (let i = 0; i < news_card.length; i++) {
                        let r_news_card = news_card[i]
                        let news_content = r_news_card['news_content']
                        let news_link = r_news_card['news_link']
                        let news_img = r_news_card['news_img']
                        let news_title = r_news_card['news_title']
                        let temp_html = `<div id="news_box">
                                          <a href="${news_link}" class="news_class">
                                              <div id="news_img">
                                                 <img src="${news_img}"
                                                  class="" width="178" height="120" onerror="this.parentNode.style.display='none';">
                                             </div>
        
                                         <div id="news_title">
                                              ${news_title}
                                        </div>
                                          <div id="news_content">
                                            ${news_content}
                                         </div>
                                        </a>
                                    </div>`;
                        $('#recruit_news').append(temp_html);
                        
                    }
                    // loadingbar_news.classList.add('hiding_class');
                }
            })
        }
        </script> -->

    <style type="text/css">
        #fixedbtn {
            position: fixed;
            right: 111px;
            bottom: 95px;
            z-index: 1000;
            width: 80px;
            border-radius: 100%;
            border: 2px solid black;
        }

        .balloon {
            position: fixed;
            margin: 50px;
            width: 200px;
            z-index: 1000;
            right: 0px;
            bottom: 150px;
            background: pink;
            border-radius: 10px;
        }

        .balloon:after {
            border-top: 10px solid pink;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            content: "";
            position: relative;
            top: 33px;
            right: -90px;
        }
    </style>



    <title>Jobs Collection</title>
</head>

<body>
    <script src="{{ url_for('static', filename='news.js')}}"></script>

    <div class="balloon hiding_class">
        <div id="tooltip_company">
            <div id="tooltip_main">
                관심있는 기업 목록
            </div>
            <div>
                <ul id="like_list">

                </ul>
            </div>
        </div>
    </div>
    <img src="{{url_for('static', filename='pocket.png')}}" id="fixedbtn" class="hiding_class">

    <header>

        <div id="header_bar">

            <h1 class="window_reload_js"> Collection Jobs</h1>

        </div>

        <div id="header_input">
            <div id="input_div">


                <input class="input_company" placeholder=" 검색어 입력" />

                <select class="input_potal">
                    <option>전체 (포탈 선택)</option>
                    <option>Job-korea</option>
                    <option>Saram-in</option>
                    <option>Indeed</option>
                </select>

                <select class="input_location">
                    <option>전체(희망 지역)</option>
                    <option>서울</option>
                    <option>경기</option>
                    <option>인천</option>
                    <option>부산</option>
                    <option>대구</option>
                    <option>광주</option>
                    <option>대전</option>
                    <option>울산</option>
                    <option>세종</option>
                    <option>강원</option>
                    <option>경남</option>
                    <option>경북</option>
                    <option>전남</option>
                    <option>전북</option>
                    <option>충남</option>
                    <option>충북</option>
                    <option>제주</option>
                </select>

                <select class="input_jobtype">
                    <option>전체(근무 형태)</option>
                    <option>정규직</option>
                    <option>계약직</option>
                    <option>인턴</option>
                    <option>아르바이트</option>
                    <option>병역특례</option>
                </select>

                <button class="search_btn">
                    검색
                </button>
            </div>
        </div>
    </header>



    <section>
        <div id="section_total" class="hiding_class">

            <div id="recruit_info">
                <div id="recruit_info_box">
                    <h2><strong>전체 포탈의 채용정보</strong></h2>
                </div>
                <div id="recruit_info_number">
                    <h4>채용정보 갯수</h4>
                </div>
            </div>



            <div id="loadingbar_center">
                <div class="loadingio-spinner-spin-87fuqmn8sh4"><div class="ldio-dmlkq2kuyw">
                    <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
                    </div></div>
            </div>



            <div id="None_info" class="hiding_class">
                <h1>일치하는 채용 정보가 없습니다.</h1>
            </div>

            <div id="total_recruit_info">

                <!-- 채용 정보가 출력됩니다. -->

            </div>
        </div>





        <div id="hot_jobs">
            <div id="recruit_info">
                <div id="recruit_info_box">
                    <h2 class="todays_news"> 오늘의 취업 관련 뉴스</h2>
                </div>

                <div id="loading_news">

                    <div class="loadingio-spinner-spin-87fuqmn8sh4"><div class="ldio-dmlkq2kuyw">
                        <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
                        </div></div>

                </div>

                
                <div id="recruit_news">

                    <!-- 여기엔 뉴스가 들어갑니다. -->

                </div> 



            </div>

        </div>

        </div>

    </section>

    <aside>

    </aside>

    <footer>

    </footer>

    <!-- <script src="reload.js"></script>
    <script src="news.js"></script>
    <script src="search.js"></script> -->
    <script src="{{ url_for('static', filename='search.js')}}"></script>
    <script src="{{ url_for('static', filename='reload.js')}}"></script>
    <script src="{{ url_for('static', filename='pocket.js')}}"></script>

    <!-- <script src="{{ url_for('static', filename='news.js')}}"></script> -->
</body>

</html>