
#loadingbar_center {
    width: 880px;
    height: 250px;
    text-align: center;
    margin-top: 150px;
}


#loading_news {
    width: 880px;
    height: 250px;
    text-align: center;
    margin-top: 150px;
}

.hiding_class{
    display: none;
}


/* 로딩바 */




@keyframes ldio-dmlkq2kuyw {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-dmlkq2kuyw div > div {
  position: absolute;
  width: 13.32px;
  height: 13.32px;
  border-radius: 50%;
  background: #ff727d;
  animation: ldio-dmlkq2kuyw 2.564102564102564s linear infinite;
}.ldio-dmlkq2kuyw div:nth-child(1) > div {
  left: 82.5px;
  top: 48.50000000000001px;
  animation-delay: -2.2435897435897436s;
}
.ldio-dmlkq2kuyw > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 89.16px 55.160000000000004px;
}.ldio-dmlkq2kuyw div:nth-child(2) > div {
  left: 72.5px;
  top: 72.5px;
  animation-delay: -1.923076923076923s;
}
.ldio-dmlkq2kuyw > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 79.16px 79.16px;
}.ldio-dmlkq2kuyw div:nth-child(3) > div {
  left: 48.50000000000001px;
  top: 82.5px;
  animation-delay: -1.6025641025641024s;
}
.ldio-dmlkq2kuyw > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 55.160000000000004px 89.16px;
}.ldio-dmlkq2kuyw div:nth-child(4) > div {
  left: 25.500000000000007px;
  top: 72.5px;
  animation-delay: -1.282051282051282s;
}
.ldio-dmlkq2kuyw > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 32.160000000000004px 79.16px;
}.ldio-dmlkq2kuyw div:nth-child(5) > div {
  left: 15.500000000000007px;
  top: 48.50000000000001px;
  animation-delay: -0.9615384615384615s;
}
.ldio-dmlkq2kuyw > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 22.160000000000004px 55.160000000000004px;
}.ldio-dmlkq2kuyw div:nth-child(6) > div {
  left: 25.500000000000007px;
  top: 25.500000000000007px;
  animation-delay: -0.641025641025641s;
}
.ldio-dmlkq2kuyw > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 32.160000000000004px 32.160000000000004px;
}.ldio-dmlkq2kuyw div:nth-child(7) > div {
  left: 48.50000000000001px;
  top: 15.500000000000007px;
  animation-delay: -0.3205128205128205s;
}
.ldio-dmlkq2kuyw > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 55.160000000000004px 22.160000000000004px;
}.ldio-dmlkq2kuyw div:nth-child(8) > div {
  left: 72.5px;
  top: 25.500000000000007px;
  animation-delay: 0s;
}
.ldio-dmlkq2kuyw > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 79.16px 32.160000000000004px;
}
.loadingio-spinner-spin-87fuqmn8sh4 {
  width: 111px;
  height: 111px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-dmlkq2kuyw {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-dmlkq2kuyw div { box-sizing: content-box; }
/* generated by https://loading.io/ */
